html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.ctn {
    max-width: 1100px;
    margin: auto;
    padding: 0 10px;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(100, 100, 247);
    color: white;
    z-index: 100;
}

header .ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style: none;
    padding: 0;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header li:hover{
    text-decoration: underline;
}

header li {
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
}

section {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

section .ctn {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

section .card {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;

}

section .card:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 32px 0 rgb(100, 100, 247);
    cursor: help;
}

section .card h2{
    color:rgb(100, 100, 247)
}

section img {
    width: 300px;
    max-height: 180px;
    object-fit: contain;
}

@media screen and (max-width: 992px) {
    .ctn {
        max-width: 900px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .ctn {
        max-width: 700px;
        margin: auto;
    }
}

@media screen and (max-width: 425px) {
    .ctn {
        max-width: 300px;
        margin: auto;
    }

    header .ctn {
        flex-direction: column;
        justify-content: flex-start
    }

    header nav {
        width: 100%;
    }

    header h1 {
        margin: 5px 0;
    }

    header ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header li {
        margin: 0;
        width: 60px;
        text-align: center;
    }
}