html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.ctn {
    max-width: 1100px;
    margin: auto;
    padding: 0 10px;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(100, 100, 247);
    color: white;
    z-index: 100;
}

header .ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style: none;
    padding: 0;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header li {
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
}

section {
    width: 100%;
    height: 100%;
}

section .ctn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .texts{
    max-width: 500px;
}

section .texts div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section .texts div a{
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    background-color: rgb(100, 100, 247);
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    transition: .3s;
}

section .texts div a:hover{
    background-color: rgb(69, 69, 175);
}

section .texts div .whats{
width: 80px;
}

section .texts div .email{
width: 180px;
}

section img {
    max-width: 500px;
}

@media screen and (max-width: 992px) {
    .ctn {
        max-width: 900px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .ctn {
        max-width: 700px;
        margin: auto;
    }

    section .ctn {
        justify-content: center;
        background-image: url('../images/entrevista.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    section .texts {
        padding: 15px;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    section img {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .ctn {
        max-width: 300px;
        margin: auto;
    }

    header .ctn {
        flex-direction: column;
        justify-content: flex-start
    }

    header nav {
        width: 100%;
    }

    header h1 {
        margin: 5px 0;
    }

    header ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header li {
        margin: 0;
        width: 60px;
        text-align: center;
    }

    section .ctn {
        background-image: none;
    }
}